<div class="page-container">
    <app-user-header></app-user-header>
    <app-header></app-header>
  
    <div>
        <app-back-arrow></app-back-arrow>
    </div>

    <div class="page-container">
        <div class="product-list">
            <div class="container">
                <h2 class="titulo">Catálogo de productos</h2>
                <p class="disponibles">Total de productos disponibles: {{ listaProductos.length }}</p>
            </div>

            <div *ngFor="let producto of listaProductos" class="product-card">
                <img class="imagen" [src]="'assets/Imagenes/' + producto.imagenProducto" alt="Imagen del Producto" />
                <div class="product-info">
                    <h2>{{ producto.nombre }}</h2>
                    <p><strong>Precio:</strong> {{ producto.precioInicial }} EUR</p>
                    <p><strong>Estado:</strong> {{ producto.estado }}</p>
                    <p>
                        <button (click)="agregarAlCarrito(producto)">Agregar al carrito</button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>
