<div class="page-container">
    <app-user-header></app-user-header>
    <app-header></app-header>
  
    <div>
      <app-back-arrow></app-back-arrow>
    </div>

    <div class="user-profile">
      <div class="user-card">
            <h2> Añadir cartera </h2>
    
            <form (submit)="addWallet()">
    
              <button type="submit" id="submitButton">
                Añadir cartera
              </button>
            </form>
      </div>
    </div>
  
    <app-footer></app-footer>
</div>
  