<div>
    <app-user-header></app-user-header>
    <app-header></app-header>
  
    <div>
      <app-back-arrow></app-back-arrow>
    </div>

    <div class="auction-content">
      <h2> Enviar Productos para su Subasta </h2>
      <p> Para enviar tus productos a la subasta, debes de seguir los siguientes pasos: </p>
  
      <ol>
        <li>Empaqueta tus productos de forma segura para evitar daños durante el envío.</li>
        <li>Adjunta una lista con la descripción de cada producto, incluyendo detalles importantes como el estado
          del producto, su valor estimado y cualquier característica relevante.</li>
        <li>Envía los productos y la lista a la siguiente dirección:</li>
      </ol>
  
      <div class="centered-address">
        <address class="fake-address">
            <strong>Auction House Blockchain S.A.</strong><br>
            Calle: Falsa 123<br>
            Ciudad: Alicante<br>
            País: España<br>
            Código Postal: 03278<br>
        </address>
      </div>
  
      <p> Una vez que recibamos tus productos, nuestro equipo los revisará para asegurarse de que
        estén en condiciones adecuadas para ser subastados. Evaluaremos la autenticidad, el estado y el valor de
        cada producto para garantizar una subasta exitosa tanto para usted como para los clientes.</p>
  
      <p> Si tienes alguna pregunta o necesitas más información, no dudes en ponerte en contacto con nuestro equipo
        de soporte en la siguiente dirección: <b>help@aucthblockchain.com</b></p>

        <h3> Disclaimer </h3>
        <p> No nos hacemos responsables de cualquier daño que pueda sufrir el objeto por parte de correos, aconsejamos
            a nuestros clientes que antes de enviar los productos les hagan fotos para asegurar que su condición es la misma.
            En caso de sufrir daños, es el cliente el que deberá de reclamar a correos.</p>
    </div>
  
    <app-footer></app-footer>
  </div>
  