<div class="content">

    <app-user-header></app-user-header>
    <app-header></app-header>

    <div>
        <app-back-arrow></app-back-arrow>
    </div>

    <div class="page-container">
        <div class="product-details">
            <div class="product-card">
                <p class="temporizador"><strong>Tiempo restante </strong>
                <br>
                    <span [ngClass]="{'red-text': tiempoRestante === 'La subasta ha finalizado'}">
                    {{ tiempoRestante }}</span></p>
                <h2>{{ producto.nombre }}</h2>
                <br>
                <div class="product-info">
                    <div class="imagen-container">
                    <img class="imagen" [src]="producto.imagenProducto" alt="Imagen del Producto" />
                </div>
                <div class="product-data">
                    <p><strong>Descripción:</strong> <br> {{ producto.descripcion }}</p>
                    <p><strong>Categoría:</strong> {{ producto.categoria }}</p>
                    <p><strong>Precio Inicial:</strong> <br> {{ producto.precioEthInicial.toFixed(5) }} ETH - {{ producto.precioInicial }} EUR</p>
                    <p><button>Agregar al carrito</button></p>
                
                </div>
                
                
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>