<div class="page-container">
    <app-user-header></app-user-header>
    <app-header></app-header>
  
    <div>
      <app-back-arrow></app-back-arrow>
  </div>

    <div class="user-profile">
      <div class="user-card">
        <h2>Panel de Administración de Carteras</h2>
        
        <div class="button-list">
            <button routerLink="/add-wallet" class="custom-button">Añadir carteras</button>
            <button routerLink="/delete-wallet" class="custom-button">Eliminar carteras</button>
            <button routerLink="/change-wallet" class="custom-button">Cambiar cartera actual</button>
        </div>
          

      </div>
    </div>
  
    <app-footer></app-footer>
</div>
  