<header class="header-container">
    <div class="header-content">
      
      <div class="logo">
        <app-logo></app-logo>
      </div>

      <!-- Contenedor del logo y los enlaces -->
      <div class="logo-links-container">
        <!-- Apartados para clickear que representan las secciones de una página web de subastas -->
        <div class="header-links">
          <a routerLink="/">Inicio</a>
          <a routerLink="/catalogo-productos">Catálogo Productos</a>
          <a routerLink="/subastas">Subastas</a>
          <a href="/home#noticias-section">Noticias</a>
        </div>
      </div>
      
      <div class="header-search">
        <app-search-filter></app-search-filter>
      </div>
    </div>
  </header>
  